<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Independent Platform</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article>
    <h1>Welcome to our website</h1>
    <p>This page is for all people who would like to start their own business. You may have a good idea, but
      unfortunately not the necessary talents to realize your ideas? You have no idea, but would like to start your own
      business? On this page you will find people who have one of the two or even both and are still looking for further
      comrades-in-arms. You can use your profile to search for projects or create your own projects and publish them to
      find new people. In addition, the site offers the management of a project.
    </p>
    <p> We wish you success in your search.</p>
  </article>
</ion-content>
