<ion-content class="account">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button [routerLink]="['/account/registry']" expand="block" color="primary">Register</ion-button>
            <p style="text-align: center;padding-top: 10px;padding-bottom: 10px">Already a user</p>
            <ion-button [routerLink]="['/account/login']" expand="block" color="danger">Sign In</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
