<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Profile from {{profile.email}}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <img src="../../../../assets/profile/markus.jpeg" alt="profile picture"/>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Account Visibility</ion-label>
      <ion-checkbox [(ngModel)]="profile.visibility"></ion-checkbox>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Firstname</ion-label>
      <ion-input type="text" required disabled="true">{{profile.firstName}}</ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Lastname</ion-label>
      <ion-input type="text" required disabled="true">{{profile.lastName}}</ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" required disabled="true">{{profile.email}}</ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Country</ion-label>
      <ion-input type="text" required disabled="true">{{profile.country}}</ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Education level</ion-label>
      <ion-input type="text" required disabled="true">{{profile.educationLevel}}</ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">General Information</ion-label>
      <ion-textarea type="text" disabled="true">{{profile.generalInfo}}</ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary">Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
